@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-weight: 550;
  font-size: 90%;
}

.playfair {
  font-family: "Playfair Display", serif;
}

@layer utilities {
  .btn-light-glass {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold rounded-full border-2 border-white/15 bg-black/5 hover:bg-[#f2836f]/10 px-6 py-3 text-sm lg:text-[13px] text-black hover:text-[#f2836f] cursor-pointer transition-all hover:scale-105 duration-700 w-full max-w-3xl mx-auto;
  }
  .btn-ogdual-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-semibold relative rounded-full border-2 border-white/10 hover:border-white/10 bg-[#f2836f]/80 hover:bg-teal-600/80 px-6 py-2 text-[13px] hover:shadow-xs transition-all duration-700 w-fit hover:scale-105;
  }
  .btn-godual-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-semibold relative rounded-full border-2 border-white/10 hover:border-white/10 bg-teal-600/60 hover:bg-[#f2836f]/80 px-6 py-2 text-[13px] hover:shadow-xs transition-all duration-700 w-fit hover:scale-105;
  }
  .btn-orange-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-semibold rounded-full border-2 border-white/5 bg-[#f2836f] hover:bg-teal-600 px-6 py-2.5 text-[14px] text-white cursor-pointer transition-all hover:scale-105 w-full duration-700;
  }
  .btn-orange-base {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-semibold rounded-full border-2 border-white/15 hover:border-[#f2836f]/20 bg-[#f2836f] hover:bg-teal-600 hover:shadow-lg px-6 lg:px-8 py-2.5 text-[14px] text-white cursor-pointer transition-all hover:scale-105 w-full md:w-fit duration-1000;
  }
  .btn-orange-outline {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold rounded-full border-2 border-gray-200 bg-transparent hover:border-[#f2836f] px-6 py-2.5 text-gray-700 hover:text-[#f2836f] text-[14px] shadow-sm cursor-pointer transition-all hover:scale-105 w-full duration-500;
  }
  .btn-green-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-semibold rounded-full border-2 hover:border-teal-500 bg-teal-600 hover:bg-teal-500 hover:shadow-lg px-6 py-2 text-[15px] text-white cursor-pointer transition-all hover:scale-105 w-full duration-700;
  }
  .btn-green-base {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-semibold rounded-full border-2 border-white/15 hover:border-[#f2836f]/20 bg-teal-600 hover:bg-[#f2836f] hover:shadow-lg px-6 lg:px-8 py-2.5 text-[14px] text-white cursor-pointer transition-all hover:scale-105 w-fit duration-700;
  }
  .btn-dark-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-2.5 relative font-semibold rounded-full border-2 border-transparent bg-gray-900 hover:bg-[#f2836f] px-6 py-2 text-[14px] text-white z-10 w-full md:w-fit cursor-pointer transition-all duration-700 hover:scale-105;
  }
  .btn-dark-base {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold rounded-full border-2 border-white/15 bg-gray-900 hover:bg-black/90 px-8 py-3 text-[14px] text-white hover:text-white cursor-pointer transition-all hover:scale-105 w-full duration-700;
  }
  .btn-dark-underline {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold hover:font-extrabold rounded-xs border-b-4 border-black/80 pr-3 py-2 hover:px-3 text-[14px] 2xl:text-base text-black/90 cursor-pointer transition-all hover:scale-105 w-fit duration-700;
  }
  .btn-dark-glass {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold rounded-full border-2 border-black/0 bg-[#f2836f]/10 hover:bg-[#f2836f]/20 px-3 py-3 text-sm lg:text-[14px] text-gray-800 lg:text-white hover:text-[#f2836f] cursor-pointer transition-all hover:scale-105 w-fit duration-700;
  }
  .btn-dark-outline {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold rounded-full border-2 border-black/0 bg-black/5 hover:bg-black/10 px-6 py-2 text-black text-[14px] cursor-pointer transition-all hover:scale-105 w-full md:w-fit duration-700;
  }
}
