@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-weight: 550;
}

@layer utilities {
  /* .text-dynamic {
    color: var(--foreground);
  }
  .text-dynamic-muted {
    color: color-mix(in srgb, var(--foreground) 90%, transparent);
  } */

  .btn-light-left {
    @apply inline-flex items-center justify-center gap-2 hover:gap-4 font-bold rounded-full border-2 border-white/20 bg-white/80 hover:bg-white/90 py-1 px-3 text-[11px] text-black/80 hover:text-black cursor-pointer transition-all hover:scale-105 w-full md:w-fit duration-700 shadow-lg absolute top-3 left-3 hover:left-4;
  }
  .btn-light-right {
    @apply inline-flex items-center justify-center gap-2 hover:gap-4 font-bold rounded-full border-2 border-white/20 bg-white/80 hover:bg-white py-4 px-4 text-[11px] text-black/80 hover:text-black cursor-pointer transition-all hover:scale-110 w-full md:w-fit duration-700 shadow-lg absolute top-2.5 right-2.5;
  }
  .btn-light-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-4 font-bold rounded-full border-2 border-white bg-white hover:bg-white/90 px-5 py-2 text-[15px] text-black/80 hover:text-black cursor-pointer transition-all hover:scale-105 w-full md:w-fit duration-700;
  }
  .btn-light-base {
    @apply inline-flex items-center justify-center gap-2 hover:gap-4 font-bold rounded-full border-2 border-white bg-white hover:bg-white/90 px-6 py-2.5 text-[15px] text-black/80 hover:text-black cursor-pointer transition-all hover:scale-105 w-full duration-700;
  }
  .btn-light-outline {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold rounded-xs border-b-2 border-[#f2836f] bg-transparent hover:bg-transparent p-2 mt-2 text-[15px] text-white hover:text-white cursor-pointer transition-all hover:scale-110 duration-700;
  }
  .btn-light-glass {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold rounded-full border-2 border-white/15 bg-white/15 hover:bg-white/30 px-8 py-4 text-black/80 hover:text-black cursor-pointer transition-all hover:scale-105 w-full md:w-fit duration-700;
  }
  .btn-orange-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-bold rounded-full border-2 border-white/15 bg-[#f2836f] hover:bg-teal-700/90 px-6 py-2.5 text-[15px] text-white cursor-pointer transition-all hover:scale-105 w-fit duration-700;
  }
  .btn-green-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-bold rounded-full border-2 hover:border-teal-500 bg-teal-600 hover:bg-teal-500 hover:shadow-lg px-6 py-2.5 text-[15px] text-white cursor-pointer transition-all hover:scale-105 w-full duration-700;
  }
  .btn-orange-base {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-bold rounded-full border-2 hover:border-[#f2836f]/20 bg-[#f2836f] hover:bg-[#f2836f]/90 hover:shadow-lg px-8 py-3.5 text-[15px] text-white cursor-pointer transition-all hover:scale-105 w-fit duration-700;
  }
  .btn-green-base {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-bold rounded-full border-2 hover:border-teal-500 bg-teal-600 hover:bg-teal-500 hover:shadow-lg px-8 py-3.5 text-[15px] text-white cursor-pointer transition-all hover:scale-105 w-fit duration-700;
  }
  .btn-orange-outline {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 relative font-bold rounded-full border-2 border-black/5 hover:border-[#f2836f] bg-white hover:bg-white py-3.5 px-6 mt-4 text-sm hover:shadow-xs transition-all hover:text-[#dd9e5e] duration-700 hover:scale-105;
  }
  .btn-dark-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-2.5 relative font-bold rounded-full border-2 border-white/15 bg-gray-900 hover:bg-[#f2836f] px-5 md:px-6 py-2.5 md:py-3 text-sm md:text-[15px] text-white z-10 w-full cursor-pointer transition-all duration-700 hover:scale-105;
  }
  .btn-dark-base {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold rounded-full border-2 border-white/15 bg-gray-900 hover:bg-black/90 px-8 py-4 text-base text-white/90 hover:text-white cursor-pointer transition-all hover:scale-105 w-full md:w-fit duration-700;
  }
  .btn-dark-underline {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold hover:font-extrabold rounded-xs border-b-4 border-black/80 pr-3 py-2 hover:px-3 text-[15px] 2xl:text-base text-black/90 cursor-pointer transition-all hover:scale-105 w-fit duration-700;
  }
  .btn-dark-glass {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold rounded-full border-2 border-white/15 bg-white/10 hover:bg-white/20 px-5 py-3 text-white hover:text-white/80 cursor-pointer transition-all hover:scale-105 w-full duration-700;
  }
  .btn-dark-outline {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold rounded-full border-2 border-black/0 bg-black/5 hover:bg-black/10 px-6 py-2.5 text-black text-[14px] cursor-pointer transition-all hover:scale-105 w-full md:w-fit duration-700;
  }
}
